@font-face {
   font-family: "CaviarDreamsRegular";
   src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot");
   src: url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.eot?#iefix")format("embedded-opentype"),
   url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.woff") format("woff"),
   url("../fonts/CaviarDreamsRegular/CaviarDreamsRegular.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "CaviarDreamsBold";
   src: url("../fonts/CaviarDreamsBold/CaviarDreamsBold.eot");
   src: url("../fonts/CaviarDreamsBold/CaviarDreamsBold.eot?#iefix")format("embedded-opentype"),
   url("../fonts/CaviarDreamsBold/CaviarDreamsBold.woff") format("woff"),
   url("../fonts/CaviarDreamsBold/CaviarDreamsBold.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "CaviarDreamsItalic";
   src: url("../fonts/CaviarDreamsItalic/CaviarDreamsItalic.eot");
   src: url("../fonts/CaviarDreamsItalic/CaviarDreamsItalic.eot?#iefix")format("embedded-opentype"),
   url("../fonts/CaviarDreamsItalic/CaviarDreamsItalic.woff") format("woff"),
   url("../fonts/CaviarDreamsItalic/CaviarDreamsItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "CaviarDreamsBoldItalic";
   src: url("../fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.eot");
   src: url("../fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.eot?#iefix")format("embedded-opentype"),
   url("../fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.woff") format("woff"),
   url("../fonts/CaviarDreamsBoldItalic/CaviarDreamsBoldItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}