*{}/*1*/
html,
body{
 margin: 0;
 padding: 0;
}/*1+1*/
._container{
   max-width: 1442px;
   margin: 20px auto;
   border-radius: 15px;
   padding: 10px;
}/*10*/
h1{font-weight: normal; text-align: center; font-family: "CaviarDreamsRegular";}/*1*/
body h1{color: beige;}/*1+1*/
body>*{background: rgb(47, 224, 31);}/*1*/
html body>*{background: rgb(204, 204, 207);}/*1+1*/
html body h1{color: deeppink;}/*1+1+1*/
html body h1:nth-child(1){}/*1+1+1*/
body h1:hover{background: rgb(206, 51, 136); color: rgb(10, 231, 10); border-radius: 15px; padding: 5px;}/*1+1+1*/

/*---Стилизация и  разные виды обращений к элементу SPAN---------------------*/

span{color: brown;}/*1*/
span:only-child {background: rgb(17, 204, 64);}
h1>*{color: rgb(78, 228, 48);}/*1*/
h1>span{color: chocolate;}/*1+1*/
h1 span{color: rgb(97, 51, 18);}/*1+1*/
body h1 span{color: cornflowerblue;}/*1+1+1*/
html body h1 span{color: darkkhaki;}/*1+1+1+1*/
html body div h1 span{color: rgb(44, 44, 38);}/*1+1+1+1+1*/
html body._container h1 span{color: rgb(107, 104, 62);}/*1+1+10+1+1*/
body h1 span:nth-child(1){color: darkmagenta;}/*1+1+1*/
html body h1 span:nth-child(1){color: darksalmon;}/*1+1+1+1*/
html body h1 span:hover{color: rgb(82, 20, 228);}/*1+1+1+1*/
html body h1 span:after{
content: '\21e5 ';
display: inline-block;

}/*1+1+1+1*/
html body h1 span:hover:after{
   content: '\203a';
   display: inline-block;
   
   }/*1+1+1+1*/
html body h1 span:before{
 content: '\21e4';
 display: inline-block;

}/*1+1+1+1*/
html body h1 span:hover:before{
   content: '\2039';
   display: inline-block; 
}/*1+1+1+1*/
html body h1 span:active{background: rgb(28, 226, 55);}/*1+1+1+1*/
  
  /*---Стилизация и  разные виды обращений к элементу LI-------------------------*/

li{background: rgb(29, 226, 118); font-family: "CaviarDreamsBold";}/*1*/
ul li{background: rgb(226, 124, 29);}/*1+1*/
ul li[class="list-item"]{background: rgb(20, 190, 34);}/*1+1+10*/
ul[class="list"] li{background: rgb(20, 190, 34);}/*1+10+1*/
body ul li{background: rgb(226, 29, 127);}/*1+1+1*/
body div ul li{background: rgb(226, 29, 127);}/*1+1+1+1*/
body._container ul li{background: rgb(226, 29, 127);}/*1+1+10+1*/
html body ul li{background: rgb(29, 170, 226);}/*1+1+1+1*/
li.list-item{background: rgb(236, 17, 17);}/*1+10*/
ul li.list-item{background: rgb(190, 226, 29);}/*1+1+10*/
ul.list li{background: rgb(29, 154, 226);}/*1+10+1*/
ul.list li.list-item{background: rgb(238, 27, 27);}/*1+10+1+10*/
html body ul li{background: rgb(233, 31, 165);}/*1+1+1+1*/
body ul.list li{background: rgb(81, 29, 226);}/*1+1+10+1*/
body ul li.list-item{background: rgb(81, 29, 226);}/*1+1+1+10*/
body ul.list li.list-item{background: rgb(29, 170, 226);}/*1+1+10+1+10*/
body._container ul.list li.list-item{background: rgb(29, 170, 226);}/*1+1+10+10+1+10*/
body div ul.list li.list-item{background: rgb(29, 170, 226);}/*1+1+1+10+1+10*/
body ul.list li.list-item[class="list-item"]{background: rgb(29, 187, 226);}/*1+1+10+1+10+10*/
body ul.list[class="list"] li.list-item{background: rgb(70, 6, 22);}/*1+1+1+10+10+1+10*/
body ul.list[class="list"] li.list-item[class="list-item"]{background: rgb(49, 212, 62);  font-family: "CaviarDreamsBold";}/*1+1+1+10+10+1+10+10*/
html body ul.list li{background: rgb(45, 247, 230);}/*1+1+1+10+1*/
html body ul li.list-item{background: rgb(29, 170, 226);}/*1+1+1+1+10*/
html body ul.list li.list-item{background: rgb(226, 29, 55);}/*1+1+1+10+1+10*/
html body ul.list li.list-item[class="list-item"]{background: rgb(29, 187, 226);}/*1+1+1+10+1+10+10*/
html body ul.list[class="list"] li.list-item{background: rgb(206, 19, 66);}/*1+1+1+10+10+1+10*/
html body ul.list[class="list"] li.list-item[class="list-item"]{background: rgb(238, 238, 236);}/*1+1+1+10+10+1+10+10*/
html body ul.list[class="list"] li.list-item[class="list-item"]:hover:nth-child(7){background: rgb(171, 22, 201);}/*1+1+1+10+10+1+10+10*/
html body div ul.list[class="list"] li.list-item[class="list-item"]:hover:nth-child(7){background: rgb(171, 22, 201);}/*1+1+1+1+10+10+1+10+10*/
html body._container ul.list[class="list"] li.list-item[class="list-item"]:hover:nth-child(7){background: rgb(171, 22, 201);}/*1+1+10+1+10+10+1+10+10*/
li:nth-child(7){
   color: fuchsia;
   list-style-image: url('../img/Unt.png');
}/*1+1*/
ul.list li.list-item:nth-child(7){border: 1px solid greenyellow;}/*1+1+1+1*/
ul.list li:nth-last-child(4){ background: rgb(27, 24, 221);}/*1+1+1+1*/
ul.list li:nth-child(7n){ background: rgb(24, 221, 24);}/*1+1+1+1*/
ul.list li:nth-child(2n+5){ background: rgb(24, 221, 24);}/*1+1+1+1*/
ul.list li:nth-child(-n+7){ background: rgb(221, 119, 24);}/*1+1+1+1*/
ul.list li:hover:nth-last-child(4){ background: rgb(27, 24, 221);}/*1+1+1+1 - свойство срабатывает если не используется обращение к атрибутам [class="list-item"]*/
ul.list li:nth-child(7):after{
   content: '\25c0';
   display: inline-block;
}/*1+1+1+1*/
ul.list li:nth-last-child(6):before{
   content: '\25b6';
   display: inline-block;
}/*1+10+1*/
ul.list li:nth-last-child(6) a:active{
   width: 100%;
   min-height: 100px;
   display: block;
   background-image: url('../img/fazan.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 10%;
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}/*1+10+1+1*/

/*---Стилизация и  разные виды обращений к элементу P-------------------------*/

p{color: rgb(12, 75, 75); font-family: "CaviarDreamsBoldItalic";}/*1*/
li p{color: blue;}/*1+1*/
ul li p{color: blueviolet;}/*1+1+1*/
body ul li p{color: brown;}/*1+1+1+1*/
html body ul li p{color: rgb(165, 42, 144);}/*1+1+1+1+1*/
html body div ul li p{color: rgb(165, 42, 144);}/*1+1+1+1+1+1*/
html body._container ul li p{color: rgb(165, 42, 144);}/*1+1+10+1+1+1*/
p.list-item__text{color: rgb(107, 34, 49);}/*1+10*/
li p.list-item__text{color: rgb(31, 31, 59);}/*1+1+10*/
ul li p.list-item__text{color: rgb(110, 95, 124);}/*1+1+1+10*/
body ul li p.list-item__text{color: rgb(75, 42, 165);}/*1+1+1+1+10*/
html body ul li p.list-item__text{color: rgb(38, 218, 134);}/*1+1+1+1+1+10*/
p.list-item__text[class="list-item__text"]{color: rgb(83, 56, 61);}/*1+10+10*/
li p.list-item__text[class="list-item__text"]{color: rgb(70, 70, 105);}/*1+1+10+10*/
ul li p.list-item__text[class="list-item__text"]{color: rgb(124, 95, 118);}/*1+1+1+10+10*/
body ul li p.list-item__text[class="list-item__text"]{color: rgb(206, 209, 195);}/*1+1+1+1+10+10*/
html body ul li p.list-item__text[class="list-item__text"]{color: rgb(71, 38, 218);}/*1+1+1+1+1+10+10*/
li.list-item p.list-item__text{color: rgb(12, 12, 245);}/*1+10+1+10*/
ul li.list-item p.list-item__text{color: rgb(16, 10, 22);}/*1+1+10+1+10*/
body ul li.list-item p.list-item__text{color: rgb(114, 66, 248);}/*1+1+1+10+1+10*/
html body ul li.list-item p.list-item__text{color: rgb(218, 134, 38);}/*1+1+1+1+10+1+10*/
li.list-item[class="list-item"] p.list-item__text{color: rgb(31, 31, 59);}/*1+10+1+10*/
ul li.list-item[class="list-item"] p.list-item__text{color: rgb(110, 95, 124);}/*1+1+10+1+10*/
body ul li.list-item[class="list-item"] p.list-item__text{color: rgb(12, 10, 17);}/*1+1+1+10+10+1+10*/
html body ul li.list-item[class="list-item"] p.list-item__text{color: rgb(43, 49, 46);}/*1+1+1+1+10+10+1+10*/
li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(134, 134, 194);}/*1+10+10+1+10+10*/
ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(14, 12, 15);}/*1+1+10+10+1+10+10*/
body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(153, 138, 196);}/*1+1+1+10+10+1+10+10*/
body div ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(153, 138, 196);}/*1+1+1+1+10+10+1+10+10*/
body._container ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(153, 138, 196);}/*1+1+10+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(94, 138, 118);}/*1+1+1+1+10+10+1+10+10*/
html body div ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(94, 138, 118);}/*1+1+1+1+1+10+10+1+10+10*/
html body._container ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]{color: rgb(94, 138, 118);}/*1+1+10+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4){color: rgb(226, 32, 129);}/*1+1+1+1+10+10+1+10+10*/
html body div ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4){color: rgb(226, 32, 129);}/*1+1+1+1+1+10+10+1+10+10*/
html body._container ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4){color: rgb(226, 32, 129);}/*1+1+10+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-last-child(2){color: rgb(32, 226, 184);}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4n){color: rgb(124, 45, 14);}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(2n){color: rgb(4, 36, 4);}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(2n+2){color: rgb(66, 245, 66);}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(-n+4){color: rgb(27, 128, 27);}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4)::after{
   content: '\25c0';
   display: inline-block;
}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4)::before{
   content: '\25b6';
   display: inline-block;
}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4):hover{
   color: crimson;

}/*1+1+1+1+10+10+1+10+10*/
html body ul li.list-item[class="list-item"] p.list-item__text[class="list-item__text"]:nth-child(4):active{
   background: rgb(226, 223, 25);
   border: 1px solid crimson;

}/*1+1+1+1+10+10+1+10+10*/
ul> *{background: rgb(204, 204, 207);}
li:nth-child(11){
   list-style-type: none;
   padding: 15px;
}

/*---Стилизация и  разные виды обращений к элементу INPUT-CHECKBOX-------------*/

input{}/*1*/
form input{}/*1+1*/
form>input{}/*1+1*/
body input{}/*1+1*/
html input{}/*1+1*/
html body input{}/*1+1+1*/
html body form input{}/*1+1+1+1*/
html body form.account-form input{}/*1+1+1+10+1*/
html body form #account-form__checkbox{}/*1+1+1+1+100*/
html body div form #account-form__checkbox{}/*1+1+1+1+1+100*/
html body._container form #account-form__checkbox{}/*1+1+10+1+1+100*/
body form.account-form #account-form__checkbox{}/*1+1+10+100*/
body form.account-form input{}/*1+1+10+1*/
body div form.account-form input{}/*1+1+1+10+1*/
body._container form.account-form input{}/*1+1+10+10+1*/
body form.account-form input[type="checkbox"]{}/*1+1+10+1+10*/
html body form.account-form input[type="checkbox"]{}/*1+1+1+10+1+10*/
html body form.account-form textarea+input{}/*1+1+1+10+1+1*/
#account-form__checkbox {
	display: block;
	width: 17px;
   height: 32px;
	cursor: pointer;
	user-select: none;
	position: relative;
}/*100*/
#account-form__checkbox input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}/*100+1+10*/
#account-form__checkbox:hover::after{
   content: '\1F448 Поставь галочку!';
   display: inline-block;
   position: absolute;
   top: 7px;
   left: 20px;
   width: 150px;
   color: rgb(226, 55, 43);
}/*100*/

/*---Стилизация и  разные виды обращений к элементу IMG-------------*/

img{}/*1*/
button[type="submit"] img{}/*1+10+1*/
form img{}/*1+1*/
form button img{}/*1+1+1*/
form button> img{}/*1+1+1*/
form button[type="submit"] img{}/*1+1+10+1*/
body form img{}/*1+1+1*/
body form button img{}/*1+1+1+1*/
html body form img{}/*1+1+1+1*/
html body form button img{}/*1+1+1+1+1*/
html body form.account-form button img{}/*1+1+1+10+1+1*/
html body form.account-form button[type="submit"] img{
   border: 1px solid #EFEFEF;
   position: relative;
   top: 0px;
}/*1+1+1+10+1+10+1*/
html body form.account-form button[type="submit"] img:hover{
   border: 1px solid red;
   position: relative;
   top: 0px;
   border-radius: 5px;
   margin-right: 5px;
}/*1+1+1+10+1+10+1*/
html body form.account-form button[type="submit"]{
   display: flex;
   border: 4px solid rgb(143, 140, 140);
   border-radius: 10px;
   align-items: center;
   background: rgb(254,252,253);

   
}/*1+1+1+10+1+10*/

html body form.account-form button[type="submit"]:hover{
   display: flex;
   border: 4px solid rgb(218, 33, 33);
   border-radius: 10px;
   align-items: center;

   
}/*1+1+1+10+1+10*/
html body form.account-form input+button{
}/*1+1+1+10+1+1*/
html body form.account-form input+button img{
}/*1+1+1+10+1+1+1*/

/*---Общие классы, id, теги-----------------------------*/

a{
   text-decoration: none;
   color: rgb(66, 143, 231);
}/*1*/
html body div ul li:nth-child(6)+li{}/*1+1+1+1+1+1*/
html body._container ul li:nth-child(6)+li{}/*1+1+10+1+1+1*/
.list {
   list-style-type: square;  
}/*10*/
.list-item {
   padding: 0px 0px 0px 10px;
   border-radius: 10px;
}/*10*/
.list-item:nth-child(7)>a{
   color: rgb(31, 124, 93);
   font-family: "CaviarDreamsItalic";
}/*10+1*/
.list-item:not(:last-child) {
   margin: 0px 0px 10px 0px;
}/*10*/
.list-item__link {
}/*10*/
.list-item__text {
}/*10*/
.account-form {
   width: 12%;
}/*10*/
.account-form>*:not(:last-child){
   margin: 0px 80px 10px 0px;
}/*10  */
.account-form__input {

}/*10*/
#account-form__checkbox {
  
}/*100*/