*,
*::before,
*::after{
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
}
ul,
ol,
li{
   list-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-weight: inherit;
   font-size: inherit;
}
html,
body{
   height: 100%;
   line-height: 1;
   font-size: 14px;
   color: #252B42;
   font-weight: 500;
   background: #fafafa;
   font-family: 'Open Sans Condensed';
}
.wrapper{
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
._container{
   max-width: 1290px;
   padding: 0px 15px;
   margin: 0px auto;
   box-sizing: content-box;
}


.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 2;
}
.header__container {
   display: flex;
   min-height: 100px;
   justify-content: space-evenly;
   align-items: center;
   padding: 0px 0px 0px 0px;
}
.header__body_burger-logo{
   display: flex;
   align-items: center;
}
.burger-menu {
   /*display: none;*/
}
header::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(30, 177, 54, 0.4);
   z-index: 4;
   visibility: hidden;
}

.header__body_logo {
   display: flex;
   align-items: center;
   padding: 0px 0px 0px 40px;
}
.header__logo,
.footer__logo {
   display: flex;
   background: radial-gradient(94.74% 94.74% at 26.32% 5.26%, #16DCF0 0%, #1EB3C2 47.4%, #16DCF0 100%);
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   z-index: 8;
   
}
.header__logo_title {
   padding: 0px 0px 0px 10px;
   font-size: 18px;
   color: #fff;
}
.header__menu {
   
}
.menu{

}
.menu__list {
   display: flex;
   flex-direction: row;
  align-items: center;
   padding: 20px 0px 0px 0px;
}
.menu__item {
}
.menu__item:not(:last-child) {
   margin: 0px 50px 0px 0px;
}
.menu__link {
   color: #fff;
   font-size: 16px;
   font-weight: 700;
}
.menu__link:hover{
   text-decoration: underline;
}
.header__search form{
   display: flex;
   align-items: center;

}
.header__search form> *:not(:last-child){
   margin: 0px 5px 0px 0px;
}
.search__form {
   
}
.search__input {
   border: none;
   border-bottom: 2px solid white;
   background-color: transparent;
   color: #fff;
   outline: none;
   z-index: 8;
}
.feader__search_search,
.feader__search_star{
   display: block;
   z-index: 9;
}
/*---BURGER MENU-----------------------------------------*/
.burger-menu {
   display: block;
   position: absolute;
   width: 30px;
   height: 20px;
   z-index: 5;
   
}
.burger-menu span{
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 2px;
   top: 9px;
   transition: all 0.3c ease 0c;
}
.burger-menu::before,
.burger-menu::after{
   content: '';
   background-color: #fff;
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   transition: all 0.3c ease 0c;

}
.burger-menu::before{
   top: 0;
}
.burger-menu::after{
   bottom: 0;
}
.burger-menu.active span{
   transform: scale(0);
}
.burger-menu.active::before{
  transform: rotate(45deg);
  top: 9px; 
}
.burger-menu.active::after{
   transform: rotate(-45deg);
   bottom: 9px; 
}
@media(max-width: 768px){
   .header {
      position: fixed;
   }

   header::before{
      visibility: visible;
   }
   .header__menu {
      position: fixed;
      top: -50%;
      right: 0;
      width: 35%;
      background-color: rgb(30, 177, 54, 0.4);
      z-index: 6;
      padding: 26px 0px 15px 34px;
      border-radius: 15px 0px 0px 15px;  
   }
   .header__menu.active{
      top: 25.2%;
   }
   .header__body_logo{
      position: absolute;
      left: 0;
      z-index: 8;
   }
   .menu__list{
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0;
      font-size: 30px;
   }
   .footer-list{font-size: 16px;}
   .menu__item:not(:last-child){
      margin: 0px 0px 10px 0px;
   }
   .burger-menu {
      display: block;
      position: absolute;
      width: 30px;
      height: 20px;
      z-index: 10;
      top: 33%;
      right: 5%;
      
   }
   .burger-menu span{
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 9px;
   }
   .burger-menu::before,
   .burger-menu::after{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;

   }
   .burger-menu::before{
      top: 0;
   }
   .burger-menu::after{
      bottom: 0;
   }

}
/*---MAIN PAGE-------------------------------------------*/
.page {
    flex: 1 1 auto;
}
.page__main-block{

} 

.main-block{
    position: relative;
    padding: 350px 0px 361px 0px;
}
.main-block__container{
   display: flex;
   align-items: center;
   justify-content: center;

}
.main-block__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 84px 0px 0px 0px;
    position: absolute;
    max-width: 554px;
    z-index: 1;
    
}
.main-block__title {
   color: #fff;
   font-weight: 700;
   font-size: 165px;
   line-height: calc(224.7 / 165 * 100%);
   font-family: 'Open Sans Condensed';
}
.main-block__subtitle {
   color: #fff;
   font-weight: 700;
   font-size: 24px;
   line-height: calc(32.68 / 24 * 100%);
   font-family: 'Open Sans Condensed';
}
.main-block__button {
   border-radius: 37px;
   padding: 10px 36px;
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.2px;
   margin: 10px 0px;
   font-weight: 700;
   line-height: 200%; 
}
.main-block__button_link {
   border-radius: 5px;
   padding: 10px 36px;
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 200%; 
   background: #16DCF0;
}

 .main-block_image {
    position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 0;
}
.main-block_image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
@media(max-width: 1170px){
   
   .main-block_image img{
      object-position: center;
      
   }
}
@media(max-width: 768px){
   
   .main-block_image img{
      opacity: 0.7;
      
   }
   .main-block__title {
   font-size: 100px;
   }
   .main-block__subtitle {
   font-size: 20px;
   }
}
@media(max-width: 470px){
   
   .main-block__title {
   font-size: 80px;
   }
   .main-block__subtitle {
   font-size: 16px;
   }
}
/*---HEADER_BLOCK--------------------------------*/
.header-block {
   text-align: center;
   margin: 0px 0px 30px 0px;
}
.header-block_title {
   font-family: 'Open Sans Condensed';
   font-weight: 700;
   font-size: 48px;
   line-height: calc(65.37 / 48 * 100%);
}
.header-block__title:not(:last-child) {
   margin: 0px 0px 10px 0px;
}
.header-block__text {
   font-weight: 400;
   font-size: 16px;
   line-height: calc(19.2 / 16 * 100%);
}
@media(max-width: 768px){
   .header-block_title{
      font-size: 35px;
   }
}
@media(max-width: 470px){
   .header-block_title{
      font-size: 30px;
   }
}
/*---NEWLIFE PAGE-------------------------------*/
.page__newlife {
}
.newlife {
}
.newlife__container {
}
.newlife__header {
}

.newlife__body {
   padding: 0px 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

.newlife__column {
 
}
.newlife__item {
   flex: 0 1 33.333%;
   display: flex;
   position: relative;
}
.newlife__column{
   margin: 10px;
}
.newlife__star {
   background: linear-gradient(90deg, #00C7DC 6.25%, rgba(22, 220, 240, 0.46) 100%);
   position: absolute;
   top: 0;
   right: 0;
   z-index: 6;
  max-width: 30px;
  height: 30px;
  padding: 5px;
}
.newlife__star_link {
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.newlife__front{
   background: linear-gradient(90deg, #00C7DC 6.25%, rgba(22, 220, 240, 0.46) 100%);
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 5;
  max-width: 312px;
  height: 125px;
  padding: 5px;
}
.newlife__front:hover{
   height: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   transition-duration: 2s;
   
}
.newlife__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 136%;
   color: #fff;
}
.newlife__text {
   font-size: 16px;
   line-height: 120%;
   color: #fff;
}
.newlife__button{
   text-align: end;
   padding: 5px 5px 5px 0px;
}
.newlife__button_link{
 color: #fff;
 font-weight: 700;
 line-height: 136%;
}
.newlife__cover {
   position: relative;
   width: 312px;
   height: 417px;
}
.newlife__cover img{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;

}
@media(max-width: 1070px){
   
}
@media(max-width: 768px){
   
}
@media(max-width: 470px){
   
}
/*---HOTEL PAGE--------------------------------------*/
.page__hotel {
}
.hotel {
   margin: 50px 0px 0px 0px;
   position: relative;
   padding: 0px 0px 34.69% 0px;
}
.hotel__container {
}

.hotel__body {
   position: absolute;
   height: 100%;
   width: 50%;
   background: rgba(0, 0, 0, 0.5) center center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0px 50px 0px 300px;
   top: 0;
   left: 0;
   z-index: 5;
}

.hotel__body:hover{
   width: 100%;
   align-items: center;
   justify-content: center;
   padding: 150px 0px 152px 0px;
   transition-duration: 2s;
   
}
.hotel__title {
   font-size: 100px;
   font-weight: 700;
   line-height: 136%;
   color: #fff;
}
.hotel__body> *:not(:last-child){
   margin: 0px 0px 20px 0px;
}
.hotel__subtitle {
   font-size: 48px;
   font-weight: 700;
   line-height: 136%;
   color: #fff; 
}
.hotel__text {
   font-size: 16px;
   font-weight: 700;
   line-height: 136%; 
   color: #fff;
}
.hotel__button {
}
.hotel__button_link {
   border-radius: 5px;
   padding: 10px 36px;
   display: flex;
   min-height: 60px;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 200%; 
   background: #16DCF0;
   max-width: 150px;
}
.hotel__image {
   position: relative; 
   width: 100%; 
   height: 100%;
}
.hotel__image img{
   position: absolute;
   width: 100%;
   
   top: 0;
   left: 0;
   object-fit: cover;
}
@media (max-width: 1600px) {
   .hotel__title {
      font-size: 80px;
   }
   .hotel__text{
      font-size: 12px;
   }
   .hotel__subtitle{
      font-size: 35px;
   }
   .hotel__body> *:not(:last-child){
      margin: 0px 0px 10px 0px;
   } 
}
@media (max-width: 1280px) {
   .hotel__title {
      font-size: 40px;
   }
   .hotel__text{
      font-size: 12px;
   }
   .hotel__subtitle{
      font-size: 25px;
   }
}
@media (max-width: 970px) {
   .hotel__body {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 0;
   }
   .hotel__button_link{
      padding: 2px 23px;
      max-width: 98px;
      min-height: 43px;
   }
   
}
@media (max-width: 670px) {
   .hotel__button_link{
      padding: 0px 8px;
      max-width: 98px;
      min-height: 23px;
   }
   .hotel__title {
      font-size: 20px;
   }
   .hotel__text{
      font-size: 8px;
   }
   .hotel__subtitle{
      font-size: 12px;
   }
   .hotel__body> *:not(:last-child){
      margin: 0px 0px 5px 0px;
   } 
}
/*---SLIDER AIRLINE----------------------------------*/

#expedia__slider {
   position: relative;
   margin: 35px 0px 0px 0px;
 }
 #expedia__slider .slider__content {
   white-space: nowrap;
   overflow: hidden;
   margin: 0 5%;
 }
 #expedia__slider .slider__content .content__item {
   display: inline-block;
   width: 33.3333%;
   position: relative;
   vertical-align: top;
   overflow: hidden;
   height: 100%;
   white-space: normal;
   padding: 0 10px;
 }
 @media (max-width: 991px) {
   #expedia__slider .slider__content .content__item {
     width: 50%;
   }
 }
 @media (max-width: 767px) {
   #expedia__slider .slider__content .content__item {
     width: 100%;
   }
 }
 #expedia__slider .slider__content .content__item .content__image {
   position: relative;
 }
 #expedia__slider .slider__content .content__item .content__image .blogTitle {
   margin: 0;
   text-align: left;
   letter-spacing: 2px;
   color: #252525;
   font-style: italic;
   position: absolute;
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
   bottom: 0;
   font-weight: bold;
   padding: 0 0 2px 10px;
 }
 #expedia__slider .slider__content .content__item .content__image img {
   height: auto;
   width: 100%;
 }
 #expedia__slider .slider__content .content__item p {
   font-size: 16px;
   margin: 2px 10px 0 5px;
   text-indent: 15px;
 }
 #expedia__slider .slider__content .content__item a {
   float: right;
   margin: 0 20px 0 0;
   font-size: 16px;
   font-style: italic;
   color: rgba(173, 0, 0, 0.82);
   font-weight: bold;
   letter-spacing: 1px;
   transition: linear 0.1s;
 }
 #expedia__slider .slider__content .content__item a:hover {
   text-shadow: 0 0 1px grey;
 }
 #expedia__slider .slider__controls button {
   position: absolute;
   border: none;
   background-color: transparent;
   outline: 0;
   font-size: 50px;
   top: 95px;
   color: rgba(0, 0, 0, 0.4);
   transition: 0.15s linear;
 }
 #expedia__slider .slider__controls button:hover {
   color: rgba(0, 0, 0, 0.8);
 }
 @media (max-width: 992px) {
   #expedia__slider .slider__controls button {
     font-size: 30px;
   }
 }
 @media (max-width: 767px) {
   #expedia__slider .slider__controls button {
     font-size: 20px;
   }
 }
 #expedia__slider .slider__controls .slider__left {
   left: 0px;
 }
 @media (max-width: 767px) {
   #expedia__slider .slider__controls .slider__left {
     left: -10px;
   }
 }
 #expedia__slider .slider__controls .slider__right {
   right: 0px;
 }
 @media (max-width: 767px) {
   #expedia__slider .slider__controls .slider__right {
     right: -10px;
   }
 }
 
/*---BOOK A TICKETS PAGE  ----------------------------------------*/
.booktickets__container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 95px 0px 0px 0px;
}

.booktickets {
   height: 100%;
   margin: 50px 0px 0px 0px;
   position: relative;
  
  
}
.booktickets__title {
   font-size: 48px;
   font-weight: 700;
   line-height: 136%;
}

.booktickets__body {
   width: 1012px;
   position: relative;
   z-index: 1;
   background-color: #fff;
   padding: 84px;
   text-align: center;
}

.booktickets__form {
}
.booktickets__body_form {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   text-align: start;
   margin: 40px 0px 0px 0px;
}
.booktickets__column {
   margin: 10px 20px 0px 0px;
}

.booktickets__column:nth-child(1) {
   flex: 0 1 45%;
   display: flex;
   flex-direction: column;
}
.booktickets__column:nth-child(2) {
   flex: 0 1 45%;
   display: flex;
   flex-direction: column;
}
.booktickets__column:nth-child(3) {
   flex: 0 1 45%;
   display: flex;
   flex-direction: column;
}
.booktickets__column:nth-child(4) {
   flex: 0 1 45%;
   display: flex;
   flex-direction: column;
}
.booktickets__column:nth-child(5) {
   flex: 0 1 10%;
   display: flex;
   flex-direction: column;
}
.booktickets__column:nth-child(6) {
   flex: 0 1 10%;
   display: flex;
   flex-direction: column;
}
.booktickets__column:nth-child(7) {
   flex: 1 1 40%;
   display: flex;
   flex-direction: column;
   padding: 0px 0px 0px 20px;
   justify-content: space-between;
   margin: 16px 0px 0px 0px;
}

.booktickets__item {
}
.personal-data__label { 
}
.personal-data__input {
   display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 9px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 2px;
}
.personal-data__label {
}
.name{
}
.surname{
}
.booktickets__data {
}
.booktickets__data_column {
  
}
.location__hotel_select,
.location__city_select,
.data__arrival_input, 
.data__departure_input{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 9px 9px;
   margin-bottom: 0;
   font-size: 15px;
   font-weight: 400;
   line-height: 150%;
   color: #495057;
   text-align: center;
   white-space: nowrap;
   background-color: #e9ecef;
   border: 1px solid #ced4da;
   border-radius: 2px;
}

.data__arrival_label,
.data__departure_label,
.location__city_label,
.location__hotel_label,
.personal-data__label{
   padding: 25px 0px 5px 0px;
}
.data__arrival_input {
}
.data__departure_label {
}
.data__departure_input {
}
.location__city_label {
}
.location__city_select {
}
.location__hotel_label {
}
.location__hotel_select {
}
.booktickets__guests{
   display: flex;
   align-items: center;
}
.booktickets__guests_title{
   padding: 0px 0px 10px 0px;
}
.booktickets__guests_row:not(:last-child){
   margin: 0px 45px 0px 0px;
}
.booktickets__submit {
   border-radius: 5px;
   padding: 10px 36px;
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 200%; 
   background: #16DCF0;
}
.booktickets__button{
   margin: 40px 0px 0px 0px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}
.booktickets__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 0;
}
.booktickets__image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
@media(max-width: 1070px){
   .booktickets__image img{
      visibility: hidden;
   }
   .booktickets__body {
      padding: 50px;
   }
   .booktickets__button{
      justify-content: center;   
   }
   .booktickets__column:nth-child(7){
     margin: 16px 0px 0px 23px;
   }
}
@media(max-width: 1020px){
   .booktickets{
      margin: 0;
   }
   .booktickets__container{
      padding: 0;
   }
   .booktickets__body_form{
      margin: 0px 0px 0px 0px;
   }
   .booktickets__column:nth-child(-n+6){
      flex: 1 1 45%;
   }
   .booktickets__column:nth-child(7){
      flex: 1 1 100%;
      text-align: center;
    }
    .booktickets__guests {
       justify-content: center;
    }
}
@media(max-width: 670px){
   .booktickets__title{
      font-size: 35px;
   }
}
@media(max-width: 520px){
   .data__arrival_label,
   .data__departure_label,
   .location__city_label,
   .location__hotel_label,
   .personal-data__label{
      padding: 5px 0px 5px 0px;
   }
}
/*---FOOTER--------------------------------------------------------*/
.footer {
   max-height: 187px;
}
.footer__container{
   padding: 100px 0px 60px 0px;
}
.footer__body {
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.footer__column {
}
.footer__body_logo {
}
.footer__menu {
   color: #333;
   font-size: 16px;
   font-weight: 700;
}

.menu__list {
}
.menu__item {
}
.menu__link_footer {
   color: inherit;
   font-size: inherit;
   font-weight: inherit;
}
@media(max-width: 1070px){}
@media(max-width: 992px){
   .footer-list{
      display: flex;
      flex-direction: row;
   }
   .footer-list .menu__item:not(:last-child){
      margin: 0px 10px 0px 0px;
   }
}
